<footer class="footer bg-dark py-3 mt-auto"><%# py is for padding , this mt-auto moves the footer down to the bottom%>
    <div class="container">
        <span class="text-light">&copy;YelpCamp 2020</span>
    </div>

</footer>