<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">

</head>
<body class="d-flex flex-column vh-100" ><%#we make the body a flex box with the flex  direction as column and vh(viewport height) set to 100 %>
    <%- include('../partials/navbar')  %>
    <main class="container mt-5"><%# mt-5 is margin top is 5 %>
     <%- include('../partials/flash')  %>
    <%- body %>
    </main>
    <%- include('../partials/footer')  %>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script><!-- it is used to add javascript functionality to the file picker inputs like we need it to display file names for multiple inputs-->
   
    <script src="/javascripts/validateForms.js"></script>
  
</body>
</html>